:root {
    --col-primary: #296eb3;
    --col-secondary: #003b81;
    --col-background: #e8e8e8;
    --col-light: #e8e8e8;
    --col-dark: #022f64;
  
    --col-free: #7dbaff;
    --col-bronze: #b85a24;
    --col-silver: #8a8a8a;
    --col-gold: #e2a922;
  }

body {
    display: grid;
    place-items: center;
    min-height: 100vh;
    background-color: #282828;
    background-repeat:repeat;
}

.hidden {
    display: none;
}

.title {
    color: #FFD700;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    margin-bottom: 2rem;
}

.search-form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    height: 5vh;
    margin-bottom: 2rem;
}

.search-form input,
.search-form button {
    font-size: 1rem;
    padding: .6rem 1rem;
    background-color: white;
    color: black;
    width: 20rem;
}

.search-form button {   
    cursor: pointer;
    background-color: #FFD700;
    border-left: 1px solid black;
    width: 10rem;
}

.search-form button:hover {
    background-color: #00FF40;
    color: black
}

.form-table {
    display: grid;
    max-width: 50rem;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(3, auto);
    column-gap: 1rem;
    row-gap: 1rem;
    align-items: center;
}

.form-row {
    display: flex;
    flex-direction: column;
    margin-top: 5px; 
    margin-bottom: 5px;
    grid-column: span 5; /* Each form row spans two column by default */
}

 /*The following classes apply to specific form rows that should span specific number of columns */ 
.form-table .form-row:nth-child(1){
    grid-column: span 4;
}
.form-table .form-row:nth-child(2), 
.form-table .form-row:nth-child(3) {
    grid-column: span 3;
}
/*
.form-table .form-row:nth-child(1),
.form-table .form-row:nth-child(4),
.form-table .form-row:nth-child(5),
.form-table .form-row:nth-child(6),
.form-table .form-row:nth-child(7) {
    grid-column: span 2;
    
}*/

label {
    color: white;
    text-align: center;
    margin-bottom: 10px;
    padding: 0.5rem;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

input,
textarea {
    font-size: 1rem;
    padding: 0.5rem;
    background-color: white;
        color: black;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    box-sizing: border-box;
}

.form-table .form-row:nth-child(1) input {
    margin-top: 16px;
}

.btn-m-add button,
.btn-m-updel button,
.btn-add button,
.btn-update button,
.btn-delete button,
.backbtn button {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    cursor: pointer;
    color: black;
    margin-bottom: 50px;
}

.btn-m-add button {
    background-color: #00FF40;
    font-size: 2rem;
}

.btn-m-updel button {
    background-color:#FFD700;
    font-size: 2rem;
    
}

.btn-add button {
    background-color: #00FF40;
}

.btn-update button {
    background-color: #FFD700;
}

.btn-delete button {
    background-color: crimson;
}

.backbtn button {
    font-size: 1rem;
    color: white;
    background-color:#b85a24;
    width: 200%;
}